<div class="modal-backdrop" *ngIf="visible">
    <div class="modal-content">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#dc3545"
            class="size-6" width="48" height="48">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>


        <p>{{ msg }}</p>

        <hr class="mt-2">
        <div class="modal-actions">
            <button class="secondary-button" (click)="close()">Aceptar</button>
        </div>
    </div>
</div>