<app-header></app-header>
<div class="container">

    <div class="card">
        <div class="card-header">
            <h1>Formulario de Registro</h1>
        </div>
        <form class="form-container mt-2" [formGroup]="productForm" (ngSubmit)="saveProduct()">

            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" id="id" name="id" formControlName="id" #inputId maxlength="10"
                    (blur)="verifyExist()" />
                <div *ngIf="productForm.get('id')?.touched && productForm.get('id')?.invalid" class="error">
                    <div *ngIf="productForm.get('id')?.errors?.['required']">ID no válido!</div>
                    <div *ngIf="productForm.get('id')?.errors?.['minlength']">Mínimo 3 caracteres.</div>
                    <div *ngIf="productForm.get('id')?.errors?.['maxlength']">Máximo 10 caracteres.</div>
                    <div *ngIf="productForm.get('id')?.errors?.['idExistente']">Este ID ya está registrado. </div>
                </div>


            </div>

            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" formControlName="name" maxlength="100" />
                <div *ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid" class="error">
                    <div *ngIf="productForm.get('name')?.errors?.['required']">Este campo es requerido!</div>
                    <div *ngIf="productForm.get('name')?.errors?.['minlength']">Mínimo 5 caracteres.</div>
                    <div *ngIf="productForm.get('name')?.errors?.['maxlength']">Máximo 100 caracteres.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" id="description" name="description" formControlName="description" maxlength="200" />
                <div *ngIf="productForm.get('description')?.touched && productForm.get('description')?.invalid"
                    class="error">
                    <div *ngIf="productForm.get('description')?.errors?.['required']">Este campo es requerido!</div>
                    <div *ngIf="productForm.get('description')?.errors?.['minlength']">Mínimo 10 caracteres.</div>
                    <div *ngIf="productForm.get('description')?.errors?.['maxlength']">Máximo 200 caracteres.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="logo">Logo (URL)</label>
                <input type="text" id="logo" name="logo" formControlName="logo" />
                <div *ngIf="productForm.get('logo')?.touched && productForm.get('logo')?.invalid" class="error">
                    <div *ngIf="productForm.get('logo')?.errors?.['required']">Este campo es requerido!</div>
                </div>
            </div>

            <div class="form-group">
                <label for="date_release">Fecha de Liberación</label>
                <input type="date" id="date_release" name="date_release" formControlName="date_release"
                    (change)="validateDateRelease()" />
                <div *ngIf="productForm.get('date_release')?.touched && productForm.get('date_release')?.invalid"
                    class="error">
                    <div *ngIf="productForm.get('date_release')?.errors?.['required']">Este campo es requerido!</div>
                    <div *ngIf="productForm.get('date_release')?.errors?.['fechaPasada']">La Fecha debe ser igual o
                        mayor a la fecha actual</div>
                </div>
            </div>

            <div class="form-group">
                <label for="date_revision">Fecha de Revisión</label>
                <input type="date" id="date_revision" name="date_revision" formControlName="date_revision" />
            </div>

            <div class="form-group mt-2">
                <div class="form-row">
                    <div class="form-col-left">
                        <button class="secondary-button btn-form" type="button" (click)="clearForm()">Reinicar</button>
                    </div>
                </div>
            </div>

            <div class="form-group mt-2">
                <div class="form-row">
                    <div class="form-col-rigth">
                        <button class="primary-button btn-form" type="submit">Enviar</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>