.card{
    background-color: #ffffff;
    padding: 1.5rem;
    max-width: 800px;
    margin: 2rem auto;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;
  padding: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 4px;
  font-family: 'Ubuntu', sans-serif;
}

.form-group input,
.form-group textarea {
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.form-actions button {
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: #1565c0;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-col-left {
  flex: 1;
  display: flex;
  justify-content: right; 
  align-items: center;     
}

.form-col-rigth {
  flex: 1;
  display: flex;
  justify-content: left; 
  align-items: center;     
}

.btn-form{
    width: 125px;
}

.error {
  color: red;
  font-size: 0.875rem;
}